* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: #454545;
color: #fff;
padding: 1em;
text-align: center;
z-index: 1000;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
background: #454545;
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 10%;
justify-content: center;
}

nav a {
background-color: #555;
color: #fff;
text-decoration: none;
padding: 0.5em 1em;
border-radius: 5px;
transition: all 0.3s ease-in-out;
}

nav a:hover {
background-color: #777;
}

@media (max-width: 768px) {
nav ul {
    flex-direction: column;
    gap: 10%;
    align-items: center;
}

nav li {
    margin-right: 0;
    margin-bottom: 20px;
}
}
main{
    position: absolute;
    width: 100%;
    top: 2vh;
}
.contact-container {
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #454545;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  
  .contact-container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 1.2rem;
    margin-bottom: 100%;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
  }
  
  .form-group textarea {
    resize: none;
    height: 150px;
  }
  
  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #3e8e41;
}